# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg-info/
dist/
build/

# Data (managed by DVC)
data/processed/*
data/features/*
!data/.gitkeep
!data/*/.gitkeep

# Models (managed by DVC)
models/*.pkl
models/*.h5
models/*.tflite
models/*.keras
!models/.gitkeep
models/classical/*.pkl
models/*/*.h5
models/*/*.tflite
models/tflite/*


# Logs
logs/
logs/mlruns/
*.log

deployment/
extra/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# MLflow
mlruns/

# DVC
.dvc/cache
.dvc/tmp

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

results/